@media (max-width: 575.98px) {
    .empieza p{
        font-size: 45px;
    }
    .empieza{
        background-position: 25% 75%;
        height: 400px;
    }
    .beneficios p, .servicios p{
        font-size:28px;
    }
    .beneficios, .servicios{
        padding: 20px;
    }
    .condiciones{
        padding: 20px;  
    }
    #opiniones section{
        margin-top: 20px;
    }
    #compatible article img {
        width: 150px;
        height: 100px;
    }
}