@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
header{
    height: 100px;
    background: -webkit-linear-gradient(180deg,  #AEDFE4,#BED73D);
    display: flex;
    align-items: center;
}
header article, footer article h2{
    font-size: 36px;
    font-weight: 700;
    margin-left: 29px;
}
.empieza{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/60.svg");
    height: 498px;
}
.empieza p{
    color: #FFFFFF;
    font-size: 52px;
    font-weight: 700;
    width: 80%;
}
.beneficios, .servicios, .marcas, .garantia, .opiniones, .compatible{
    text-align: center;
    padding: 30px;
}
.beneficios p, .servicios p, .garantia h4, .compatible p{
    font-size:36px;
    font-weight: 700;
}
#beneficios, #servicios{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#beneficios section{
    width: 267px;
    height: 187px;
    margin-top: 15px;
}
#beneficios section h4, #servicios section h4{
    font-weight: 700;
    margin-top: 15px;
}
#beneficios section img{
    width: 70px;
    height: 70px;
}
#servicios section img{
    width: 200px;
    height: 200px;
}
#servicios section{
    width: 300px;
}
.marcas p, .opiniones p{
    font-size:25px;
    font-weight: 700;
}
.marcas, .opiniones {
    margin-top: 20px;
    background-color: #DAF0F3;
}
#marcas, #opiniones {
    background-color: #DAF0F3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}
#marcas img {
    width: 100px;
    height: 80px;
    margin: 20px;
}
#opiniones section{
    width: 200px;
}
#opiniones section img {
    width: 30px;
}
#opiniones{
    padding-bottom: 20px;

}
.garantia p{
    font-size: 22px
}
.garantia h4{
    padding: 20px 17%;
}

/*ul .check{ list-style-image: url('../img/check.svg'); }*/
.check,.no, .guia, .ubicacion, .correo, .cel, .tel{list-style:none;}
.check li, .no li, .guia li, .ubicacion li, .correo li, .cel li, .tel li{ margin-top: 10px;}
.check li::before{
	content:url("../img/check.svg");
	margin-right:8px;
}
.no li::before{
	content:url("../img/x.svg");
	margin-right:8px;
}
.guia li::before{
    content:url("../img/guia.svg");
	margin-right:8px;
}
.ubicacion li::before{
    content:url("../img/uno.svg");
	margin-right:8px;
}
.correo li::before{
    content:url("../img/dos.svg");
	margin-right:8px;
}
.cel li::before{
    content:url("../img/tres.svg");
	margin-right:8px;
}
.tel li::before{
    content:url("../img/cuatro.svg");
	margin-right:8px;
}
.condiciones{
    display:flex;
    margin-top: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.condiciones article{
    width: 500px;
}
.condiciones article:nth-child(2n){
    background-color: #AEDFE4;
    padding: 45px;
}

#compatible {
    padding:30px 60px;
    font-size: 22px;
}
#compatible article img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    margin: 20px;
}
#compatible article:nth-child(2){
    margin-top: 30px;
    text-align: center;
}
footer{
    margin-top: 30px;
    padding: 30px;
    background: -webkit-linear-gradient(180deg, #BED73D, #AEDFE4);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer article{
    width: 300px;
}
footer article article{
 margin-top: 50px;
}
footer article:nth-child(3){
    display: none;
}

.tel li a, .cel li a, .correo li a{text-decoration: none; color: #000;}