@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
header{
    height: 100px;
    background: -webkit-linear-gradient(180deg,  #AEDFE4,#BED73D);
    display: flex;
    align-items: center;
}
header article{
    font-size: 36px;
    margin-left: 29px;
}
.empieza{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/60.svg");
    height: 498px;
}
.empieza p{
    color: #FFFFFF;
    font-size: 52px;
    width: 80%;
}
