@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
header{
    height: 100px;
    background: -webkit-linear-gradient(180deg,  #AEDFE4,#BED73D);
    display: flex;
    align-items: center;
}
header article{
    font-size: 36px;
    font-weight: 700;
    margin-left: 29px;
}
.empieza{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/60.svg");
    height: 498px;
}
.empieza p{
    color: #FFFFFF;
    font-size: 52px;
    font-weight: 700;
    width: 80%;
}
.beneficios, .servicios, .marcas{
    text-align: center;
    padding: 30px;
}
.beneficios p, .servicios p{
    font-size:36px;
    font-weight: 700;
}
#beneficios, #servicios{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#beneficios section{
    width: 267px;
    height: 187px;
    margin-top: 15px;
}
#beneficios section h4, #servicios section h4{
    font-weight: 700;
    margin-top: 15px;
}
#beneficios section img{
    width: 70px;
    height: 70px;
}
#servicios section img{
    width: 200px;
    height: 200px;
}
#servicios section{
    width: 300px;
}
.marcas p{
    font-size:25px;
    font-weight: 700;
}
.marcas {
    margin-top: 20px;
    background-color: #DAF0F3;
}
#marcas {
    background-color: #DAF0F3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}
#marcas img {
    width: 100px;
    height: 80px;
    margin: 20px;
}
